{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block conteudo %}

<div class="container">

    {% if filme %}
      <h2 style="text-align:center">Editar filme</h2>
    {% else %}
      <h2 style="text-align:center">Nova filme</h2>
    {% endif %}
  
    {{ form.errors }}
    
    <form  method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="section">
          {{form.media}}
          {{ form.titulo|as_crispy_field }}
          {{ form.sinopse|as_crispy_field }}
          {{ form.lancamento|as_crispy_field }}

          {{ form.categoria|as_crispy_field }}
          {{ form.artista|as_crispy_field }}
          
        </div>  
        <button class="btn btn-info mt-4 mb-4">Enviar</button>    
    </form>
</div>

{% endblock %}
